.cart-items{
    margin-top: 20px;
    margin-bottom: 20px;
}


.cart-item-img{
    height: 200px;
    margin-top: 25px;
}

.cart-item-list{
    border-top: lightgrey 1px solid;
    border-bottom: lightgrey 1px solid;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.cart-checkout{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10%;
    margin-top: 10%;
}

.checkout-button{
    width: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: .5%;
    background-color: black;
    color: white;
    border: none;
    box-shadow: darkred 0px 0px 2px 2px;
}